@model List<ToDoModel> 
@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h1>ToDo List</h1>
    <form asp-controller="Home"asp-action = "Index" method = "Post"> 
        <input type="text" name="Name" placeholder = "What needs to be done">
       <button type = "submit">Submit</button>
     </form>
    
 </section>
 <section>
     <h2> Must be done: </h2> 
     <ul>
         <!---the issue --> 
       <form asp-controller="Home" asp-action = "Index" method = "Post"> 
         @foreach(var item in Model)
         {
            <li>@item.TaskName
            <button type = "submit">Done</button>
            </li> 
         }
       </form>         
     </ul>
 </section>
 <section>
     <h2>Done:</h2>
  




        